:root {
  --primary: #a889ca;
  --dark: #061b28;
  --gray: #455a64;
  --light: #f6f3f9;
}

* {
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Oxygen', sans-serif; */
  font-family: avenir;
  /* font-family: 'Merriweather', serif; */
}

.sideBar {
  align-self: start;
  height: 100%;
  top: 0;
  align-self: start;
  position: sticky;
  height: 100%;
}
.header-desk {
  align-self: start;
  position: fixed;
  height: 100%;
}

.side-nav-container {
  background-color: var(--gray);
  width: 180px;
  height: 100vh;
  position: relative;
  color: var(--light);
  align-self: start;
  transition: 0.4s;
}
.side-nav-container-NX {
  width: 75px;
}

.nav-upper,
.nav-heading,
.nav-menu,
.menu-item,
.nav-footer {
  /* border: 2px solid white; */
  display: grid;
}

.nav-heading {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  height: 75px;
}

.nav-heading-in {
  grid-template-columns: 1fr;
}

.nav-brand {
  display: flex;
  color: var(--light);
}
.nav-brand img {
  width: 40px;
  padding: 0 10px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  margin: auto;
}

.hamburger span {
  display: block;
  margin-top: 5px;
  background-color: var(--light);
  border-radius: 15px;
  height: 5px;
  width: 35px;

  transition: 0.4s;
}

.hamburger:hover span {
  background-color: var(--primary);
}

.hamburger-in:hover span:nth-child(1) {
  width: 25px;
  transform: translateY(4px) rotate(-25deg);
}
.hamburger-in:hover span:nth-child(2) {
  width: 40px;
}
.hamburger-in:hover span:nth-child(3) {
  width: 25px;
  transform: translateY(-4px) rotate(25deg);
}
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
.hamburger-out {
  margin: 0 auto;
}
.hamburger-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(14px, 4px) rotate(-155deg);
}
.hamburger-out:hover span:nth-child(2) {
  width: 40px;
}
.hamburger-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(14px, -4px) rotate(155deg);
}

.nav-menu {
  grid-template-rows: repeat(7, 1fr);
  margin-top: 50px;
}

.menu-item {
  height: 57px;
  display: flex;
  color: var(--light);
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 20px;
  border-radius: 10px;
}
.menu-item-text {
  margin-left: 15%;
}

.menu-item-NX {
  margin: auto;
}

.menu-item-icon {
  max-width: 31px;
  max-height: 31px;
  /* padding-left: 50px; */
}

.menu-item:hover {
  transform: scale(1.08);
}
.nav-footer {
  width: 100%;
  height: 87px;
  position: absolute;
  bottom: 0;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}

.nav-details {
  display: flex;
}
.nav-details img {
  width: 50px;
  padding: 0 20px;
}

.nav-footer-user-name {
  font-size: 18px;
  font-weight: 900;
}

.nav-footer-user-position {
  margin-top: -15px;
  color: var(--gray);
}
.logout-icon {
  width: 30px;
  margin: auto;
  border-radius: 90px;
  padding: 20px;
  margin-left: 5px;
}
.logout-icon:hover {
  background-color: var(--primary);
}

.page {
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
footer {
  flex-direction: column;
}

.tech {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
  margin-left: 33%;
  margin-right: 33%;
}

.tech-square {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card-div {
  background-color: #dcd0ea;
  height: 100%;
}
.tech-icon {
  width: 4.5vw;
}
.img-description {
  margin-top: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.tech-square:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.tech-square:hover {
  transform: scale(1.08);
}

.project-card-title {
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 5vw;
  border-bottom: #061b28 solid 1pt;
  padding-bottom: 2%;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  text-decoration: none;
  color: var(--dark);
  margin-top: -6%;
  padding-bottom: 4%;
}
.link:hover {
  transform: scale(1.04);
  color: var(--primary);
}

.project-card-description {
  margin-left: 12%;
  margin-right: 12%;
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 1.5vw;
  border-bottom: #061b28 solid 1pt;
}

@media screen and (max-width: 950px) {
  .project-card-description {
    font-size: 15px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .tech-icon {
    width: 40px;
  }
}

.img-wrap {
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.project-img {
  max-width: 30vw;
  /* margin: 5%; */
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.675) 0px 6px 18px;
  transition: scale 0.2s;
}
.project-img:hover {
  transform: scale(1.01);
}
.img-holder {
  display: flex;
  justify-content: space-around;
  margin-left: 30%;
  margin-right: 30%;
}

.aws-sld__content {
  align-items: flex-start;
}
.logo {
  max-width: 2vw;
}
.deploy-url {
  /* font-style: italic; */
  font-weight: 600;
}

.about-paragraph {
  margin-left: 15%;
  margin-right: 15%;
}

.title,
.about-img-wrap {
  text-align: center;
}

.me {
  max-width: 20vw;
  border-radius: 30%;
  margin-bottom: 2%;
}

.about-section {
  margin-top: 12%;
}

.resume-wrap {
  display: block;
  margin: 0 auto;
  background-color: white;
}
.resume {
  /* margin-left: 5%; */
  width: 80vw;
  max-width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.675) 0px 6px 18px;
}

.resume:hover {
  transform: scale(1.01);
}

.resume-container {
  margin-top: 15%;
  border-top: #455a64 1pt solid;
}
.portfolio-title {
  border-top: #455a64 1pt solid;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: 150px;
}
.res-header {
  margin-bottom: 20px;
}

.contactForm {
  width: 100%;
}
.contact-notes {
  display: flex;
  width: 100%;
  margin-top: 20px;
  width: 350px;
  font-size: 16px;
  border-radius: 25px;
  position: relative;
  text-align: left;
}

@media only screen and (max-width: 1150px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 75px;
  }
  .contactForm {
    width: 100%;
    margin-top: 0;
  }
  .contact-notes {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-left: 15%;
    width: 350px;
    border-radius: 25px;
    font-size: 20px;
    position: relative;
    text-align: left;
  }
}

.contact-heading {
  text-align: center;
  margin-top: 100px;
}

.contact-title {
  font-size: 40px;
  text-decoration: overline;
}

.reach-methods {
  list-style: none;
}

.email-link {
  color: black;
  text-decoration: none;
}
.email-link:hover {
  font-size: large;
  color: #4974a5;
}

.grid-top,
.grid-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input {
  width: 100%;
  height: 30px;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  border-bottom: 1px solid black;
}
.input-message {
  width: 100%;
  height: 30px;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  border-bottom: 1px solid black;
}
br {
  display: block;
  margin: 10px 0;
  line-height: 22px;
}
.contact-title {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  color: black;
}

.submit {
  width: 100px;
  color: white;
  padding: 10px;
  border: none;
  background-color: black;
  font-weight: bold;
  font-size: 15px;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.submit-btn {
  margin-top: 20px;
  margin-bottom: 100px;
}

.submit:hover {
  color: black;
  background-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media only screen and (max-width: 414px) {
  .contact-wrapper {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-container {
    display: block;
    width: 350px;
    margin-top: 80px;
  }

  .contact-heading {
    text-align: center;
    width: 414px;
  }

  .contact-title {
    text-align: center;
    width: 414px;
    font-size: 40px;
  }

  .form-container {
    margin-top: 50px;
    width: 350px;
  }

  .contactForm {
    width: 350px;
  }

  .input {
    width: 170px;
  }
  .input-message {
    width: 345px;
  }

  .submit {
    position: relative;
    left: 127px;
  }
}

/* skills */

.skills-container {
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  padding-top: 5px;
}

.skills-title {
  color: black;
  font-weight: 700;
}

.container {
  height: 50px;
}

tabs {
  margin: 0px;
}

.tab-header {
  width: 100%;
  list-style: none;
  line-height: 25px;
  color: black;
  display: flex;
  justify-content: space-evenly;
}
.tab-header li {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  padding: 12px;
  line-height: 35px;
  cursor: pointer;
  font-size: 16px;
}

.tab-header li.active {
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}

.tab-header li:hover {
  text-decoration: underline;
}

.tab-content {
  height: 120px;
  /* width: 100vw; */
  text-align: center;
  color: black;
}

.tab-child {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px; */
  font-weight: 500;
}

.skill-icon {
  height: 32px;
}
.skill-icon-nextjs {
  height: 32px;
}

.skills-wrap {
  border-top: #455a64 1px solid;
  /* width: 100%; */
  margin-bottom: -5%;
}

.foot-logo {
  display: flex;
}

.top-logo {
  margin-top: -3%;
}

footer {
  text-align: center;
}

footer img:hover {
  transform: scale(1.08);
}

.top-logo img:hover {
  transform: scale(1.08);
}

.gif {
  max-width: 80%;
}
.gif-container {
  display: flex;
  justify-content: center;
  margin-top: -15%;
}

@media only screen and (max-width: 414px) {
  .project-card-title {
    border: none;
  }
  .project-card-description {
    font-size: x-small;
  }

  .skills-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    border-radius: 10px;
    width: 414px;
    padding-top: 5px;
  }
  .link {
    display: none;
  }
  .tech-icon {
    max-width: 26px;
  }
  .tab-content {
    /* width: 414px;
    height: 170px; */
    border-radius: 0px;
    position: relative;
    top: 1px;
  }

  .tab-header {
    /* width: 414px; */
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0px;
    top: 1px;
  }
  .about-paragraph {
    margin-left: 3%;
    margin-right: 3%;
  }

  .tab-child {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    /* position: relative;
    left: 200px; */
  }

  .container {
    position: relative;
    bottom: 150px;
  }

  #home {
    height: 100vh;
  }

  .header-desk {
    display: none;
  }

  .top-logo {
    margin-top: 100px;
  }

  .pre-title {
  }
}
